.field {
  position: relative;
  user-select: none;

  &:has(.textarea:not(:placeholder-shown)) .label {
    color: var(--color-black);
    scale: 0.7;
    translate: -1em -2em;
  }
}

.label {
  position: absolute;
  top: 1em;
  left: 17px;
  color: var(--color-gray-3);
  translate: 0 -50%;
  transform-origin: left top;
}

.textarea {
  display: block;
  --fieldInputPaddingX: 1em;
  min-width: 100%;
  max-width: 100%;
  min-height: calc(var(--input-height)*2);
  max-height: calc(var(--input-height)*4);
  padding-inline: var(--fieldInputPaddingX);
  // padding-block: calc(var(--fieldInputPaddingX)/2);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover,
  &:focus {
    border-color: var(--color-dark-2);
  }

  &:focus {
    background-color: var(--color-gray-1);
    outline: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.isInvalid {
    border-color: red;
  }
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}